<nav class="pagination" role="pagination">
  {{#if next}}
  <a href="/page/{{pages}}"><img src="/assets/images/left-first-arrow.svg" class="arrow_pugilat" alt="Premier pugilat" /></a>
  <a href="{{page_url next}}"><img src="/assets/images/left-arrow.svg"
    class="arrow_pugilat arrow_center" alt="Pugilat suivant."/></a>
    {{/if}}

    {{#if prev}}
    <a href="{{page_url prev}}"><img src="/assets/images/right-arrow.svg"
      class="arrow_pugilat" alt="Pugilat suivant."/></a>
      <a href="/"><img src="/assets/images/right-first-arrow.svg" class="arrow_pugilat" alt="Dernier pugilat" /></a>
      {{/if}}
    </nav>
