{{!< default}}
<div class="container">
{{> header}}
<main class="main_pugilat" role="main">
  <article class="article_pugilat" role="article"
    itemscope itemtype="http://schema.org/Article">
    <div class="row">

    <div class="col-md-2">
      {{#if pagination.next}}
      <a href="{{page_url pagination.next}}"><img src="/assets/images/left-arrow.svg"
      class="arrow_pugilat" alt="Pugilat suivant."/></a>
      {{/if}}
    </div>
    {{#foreach posts}}
    <div class="col-md-8">
      <header class="postheader_pugilat">
        <h2 class="posttitle_pugilat">{{{title}}}</h2>
      </header>

      <div class="postcontent_pugilat">
        <p>{{{content}}}</p>
      </div>
    </div>
    {{/foreach}}
    <div class="col-md-2">
      {{#if pagination.prev}}
        <a href="{{page_url pagination.prev}}"><img src="/assets/images/right-arrow.svg"
        class="arrow_pugilat" alt="Pugilat suivant."/></a>
      {{/if}}
    </div>
  </div>
  </article>
</main>
</div>
