@font-face {
  font-family: GoodDog;
  src:url(/assets/fonts/GoodDog.otf);
  font-weight: bold;
}
body {
  font-family: GoodDog;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}
h2 {
  font-size: 60px;
}

.posttitle_pugilat{
  text-align: left;
}

.arrow_pugilat{
  vertical-align: middle;
  width: 5vmin;
}

.postcontent_pugilat > p > img{
  height: 50vmin;
}

.header_pugilat {
  height: 20vmin;
}

.posttitle_pugilat{
  font-size: 7vmin;
}

.arrow_center{
  margin-right: 8vmin;
}
